body {
  font-family: Inter;
  font-style: normal;
  margin: 0%;
}

#serie-posts {
  display: flex;
  justify-content: center;
  padding: 44px 0px 133px 0px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  
}

#autor{
  display: flex;
  gap: 27px;
  padding: 8px 0px 9px 0px;
  background: #EFF2F7;
  align-items: center;
  margin-bottom: 15px;
}

#por{
  color:#3C4B58;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}


#nome-autor > a{
  color: #EB5151;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  text-decoration-line: underline;
}

#autor>p{
  margin-left: 33px;
  height: min-content;
  color: #3C4B58;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}

#rosto{
  display: flex;
  justify-content: center;
  margin-top: 91px;
}  

#titulo{
  position: relative;
}

#titulo > img{
  position: absolute;
  top: -30px;
  left: -100px;
}

#rosto h1{
  margin-bottom: 37px;
}
#rosto>div{
  width: 789px;
}

#rosto>div>p{
  margin-bottom: 53px;
  color: #707C8C;
  font-size: 21px;
  font-weight: 400;
  line-height: 160%; 
  }


  #serie-posts p,
  h1,
  h2 {
    margin: 0%;
  }
  
  #serie-posts h2{
    color: #273644;
    font-size: 26px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.52px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  
  #subtitulo{
    color: #8D9AA6;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    margin-bottom: 35px;
    margin:0;
  
  }
  
  #posts-container {
    display: flex;
    gap: 27px;
    margin-bottom: 12px;
    margin-top: 35px;
  }
  
  #serie-posts>div {
    display: flex;
    width: min-content;
    flex-direction: column;
  }

  
  
  .post {
    display: grid;
    height: 220px;
    border-radius: 5px;
    border: 1px solid #EB5151;
    padding-left: 20px;
    padding-top: 23px;
    padding-right: 21px;
    padding-bottom: 17px;
  }
  
  .post-meio {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: min-content;
  }
  
  .data-post {
    color: #EB5151;
    font-size: 14px;
    font-weight: 300;
    line-height: 160%;
  }
  
  .data-post span {
    font-weight: 700;
  }
  
  .data-post,
  .categoria-post {
    width: 240px;
  }
  
  .titulo-post {
    width: 245px;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
  }
  
  .titulo-post>a {
    color: #C11616;
    text-decoration: none;
  }
  
  .categoria-post {
    align-self: flex-end;
    padding-top: 9px;
    border-top: 1px solid #EB5151;
  }
  
  .categoria-post>a {
    color: #EB5151;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
  }
  
  .categoria-post span {
    color: #8D9AA6;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
  }
  
  #coletaneas-link {
    height: 31px;
    display: flex;
    justify-content: space-between;
  }
  
  #todas-coletaneas{
    align-self: flex-end;
    color: #2648A1;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    text-decoration-line: underline;
  }
  
  #coletaneas-link>a>img {
    align-self: flex-start;
  }
  
  #awe {
    background-color: #EFF2F7;
    display: flex;
    justify-content: center;
    padding: 13.49px 0px 14.42px 0px;
  }
  
  #blog {
    background-color: #F9FAFC;
    display: flex;
    justify-content: space-between;
    padding: 0% 8.87% 0% 8.87%;
    align-items: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
  }
  
  #blog > a{
    height: min-content;
  }

  #blog-indices {
    width: min-content;
  }
  
  #no_underline,
  #underline {
    color: #3C4B58;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.8px;
  }
  
  #no_underline {
    text-decoration: none;
  }
  
  #underline {
    text-decoration-color: #3C4B58;
  }

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#corpo {
  max-width: 1200px;
}

input.pesquisar {
  height: 20px;
  border: 0;
  border-bottom: 1px solid white;
  background: transparent;
}

.grupo2-cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.grupo1-cabecalho>img {
  border-right: solid 1px white;
  padding-right: 20px;
  cursor: pointer;
}

.grupo1-cabecalho {
  display: flex;
  align-items: center;
  gap: 20px;
}



header {
  background: #C11616;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.cabecalho {
  color: white;
  display: flex;
  padding: 0px 80px;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}



.cabecalho>img {
  margin-top: 15px;
}

.cabecalho>p {
  width: 60px;
  height: 1px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

main h1 {
  color: #273644;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
}

#corpo>p {
  color: #707C8C;
  font-size: 21px;
  font-weight: 400;
  line-height: 160%;
  /* 33.6px */
}

#seta{
  display: flex;
  align-items: center;
  gap: 36px;
  margin-bottom: 55px;
}

#seta>a>p {
  color: #273644;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 25.6px;
  padding: 1px 25px 4px 11px;
  background: linear-gradient(90deg, #EFF0F2 0%, rgba(249, 250, 252, 0.00) 50.31%);
}
#seta>a{
  text-decoration: none;
}
#gradiente{
  border-radius: 5px;
  background: linear-gradient(90deg, #F00 0%, rgba(255, 0, 0, 0.46) 60.12%);
  width: 81px;
  height: 4px;
  margin-bottom: 8px;
}

#categorias h1 {
  color: #8D9AA6;
  font-size: 26px;
  font-weight: 300;
  line-height: 41.6px;
  margin-bottom: 12px;
}

#ver-todas-as-categorias{
  display: flex;
  justify-content: flex-end;
}

#ver-todas-as-categorias > a{
  color: #8D9AA6;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  text-decoration-line: underline;
}

#categoria-posts-seção {
  display: flex;
  gap: 17px;
  margin-bottom: 18px;
}


.categoria-posts-container {
  position: relative;
}

.categoria-posts-container>a {
  text-decoration: none;
}

.categoria-posts {
  padding: 3px 16px 3px 16px;
  border: 1px solid #EB5151;
  color: #EB5151;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
}

.numero-posts {
  display: flex;
  align-items: center;
  border: 1px solid #EB5151;
  width: 25px;
  height: 25px;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  right: -12.5px;
  top: -12.5px;
  background-color: #FFF;
}

.numero-posts>p {
  width: min-content;
  color: #3C4B58;
  font-size: 12px;
  font-weight: 700;
  line-height: 160%;
}

#noventaenove>p {
  color: #C11616;
}




#categoria-posts-seção p {
  margin: 0px;
}

#fotos h1 {
  color: #EB5151;
  font-size: 26px;
  font-weight: 700;
  line-height: 41.6px;
}

#fotos h2 {
  color: #EB5151;
  font-size: 26px;
  font-weight: 700;
  line-height: 41.6px;
  display: flex;
  justify-content: space-evenly;
}

#últimos-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 87px;
  padding-bottom: 20px;
}

#últimos-posts-container {
  display: flex;
  flex-direction: column;
}

#últimos-posts p {
  margin: 0px;
}

#últimos-posts-container>p>a {
  color: #2648A1;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  text-decoration-line: underline;
}

#últimos-posts-container>p {
  align-self: flex-end;
  margin-top: 17px;
}

#texto-h1 {
  padding-bottom: 9px;
  border-bottom: 1px solid #8D9AA6;
  width: 787px;
}

#texto-h1 h1 {
  color: #8D9AA6;
  font-size: 26px;
  font-weight: 300;
  line-height: 160%;
}

.post-ultimo>div {
  display: flex;
  gap: 22px;
}

.post-ultimo {
  width: 787px;
  padding-bottom: 35px;
  border-bottom: 1px solid #D3DDE6;
  margin-top: 34px;
}

.post-ultimo>h2>a {
  color: #273644;
  font-size: 21px;
  font-weight: 700;
  line-height: 160%;
  text-decoration: none;
}

.post-ultimo p {
  color: #8D9AA6;
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
}

.post-ultimo p>span>a {
  color: #3C4B58;
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
  text-decoration-line: underline;
}